
* {
    box-sizing: border-box;
}

body {
    margin : 0
}

.nav{
    background-color: #AB6E6E;
    color : white;
    display: flex;
    justify-content: space-between;
}

.image-tst{
    width: 30px;
    height: auto;
}

.nav a{

}