@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.topHome{
    background: #934949;
    display:flex;
    border-width: 2px;
    border-style: solid;
    border-top-width: 0;
    border-bottom-color: black;
}

.topHome-text{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}